@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Muli");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.intro_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

  .intro_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 3em;
    margin: 0;
    margin-top: 2rem;
    color: #371443; }

/* added css for login & create account */

.form-wrap{
display:flex;
justify-content: center;
flex-direction: column;
margin:auto;
padding:3rem;
}

.port_wrap{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:auto;
}

.log-in_wrap{
	padding:2rem 0rem;
}

.log-in_wrap .log-in {
    border-radius: 50px;
    width: 100%;
    border: none;
    background-color: #2dd5cc;
}

.no_account_wrap{
	position: relative;
	top:4rem;
	z-index:100;
	left:-11rem;
}

.bottom_bar_wrap .bottom_signup {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.password-confirm{
	width:15rem;
}

.form-wrap{
	display:flex;
	justify-content:center;
	flex-direction:column;
	margin:auto;
	text-align:center;
}

.form-group_2 {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
}

.form-group_1 {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
}
.no_account_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    position: relative;
    z-index: 100;
    top: 8.5rem;
    left: -13.3rem;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.form-group_3 img {
    position: absolute;
    width: 20px;
    margin-top: -.4rem;
    margin-left: 13rem;
}
.form-group_2 img {
    position: absolute;
    width: 20px;
    margin-top: -.4rem;
    margin-left: 13rem;
}

.form-group_1 img {
    position: absolute;
    width: 23px;
    margin-top: 0rem;
    margin-left: 13rem;
}
/* end */

input::placeholder {
    color: black;
}
input:focus::-webkit-input-placeholder { color:transparent; }

.form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.form-group_1 {
  position: relative;
  margin: 0;
  margin-bottom: 2.5rem; }
  .form-group_1 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_1 img {
    position: absolute;
    width: 13%;
    margin-top: -1.6rem;
    margin-left: 9rem; }
  .form-group_1 input {
    background-color: #afb0be;
    outline: none;
    -webkit-transition: background-color 350ms ease 0s;
    transition: background-color 350ms ease 0s;
    color: white; }
  .form-group_1 input:focus {
    background-color: #f8669f;
    color: white; }

.form-group_2 {
  position: relative;
  margin: 0; 
  margin-bottom: 2.5rem; }
  .form-group_2 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_2 img {
    position: absolute;
    width: 10%;
    margin-top: -1.7rem;
    margin-left: 9.3rem; }
  .form-group_2 input {
    background-color: #afb0be;
    outline: none;
    -webkit-transition: background-color 350ms ease 0s;
    transition: background-color 350ms ease 0s;
    color: white; }
  .form-group_2 input:focus {
    background-color: #f8669f;
    color: white; }

.form-group_3 {
  position: relative;
  margin: 0; }
  .form-group_3 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_3 img {
    position: absolute;
    width: 10%;
    margin-top: -1.7rem;
    margin-left: 9.3rem; }
  .form-group_3 input {
    background-color: #afb0be;
    outline: none;
    -webkit-transition: background-color 350ms ease 0s;
    transition: background-color 350ms ease 0s;
    color: white; }
  .form-group_3 input:focus {
    background-color: #f8669f;
    color: white; }

.log-in_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .log-in_wrap .log-in {
    border-radius: 50px;
    width: 50%;
    border: none;
    background-color: #2dd5cc; }
    .log-in_wrap .log-in h4 {
      margin: 0;
      margin: 0.7rem 0 0.7rem 0;
      font-family: 'Muli', sans-serif;
      color: #371443; }

.no_account_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .no_account_wrap h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: 1.8rem;
    margin-bottom: 0.3rem; }

.bottom_bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .bottom_bar_wrap .bottom_signup {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .bottom_bar_wrap h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.5em; }

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@-webkit-keyframes tear_two {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, -20px) rotate(-15deg);
            transform: translate(20px, -20px) rotate(-15deg); } }

@keyframes tear_two {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, -20px) rotate(-15deg);
            transform: translate(20px, -20px) rotate(-15deg); } }

@-webkit-keyframes scan {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0); }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0); } }

@keyframes scan {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0); }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0); } }

.ticket_22 {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: tear_two 250ms linear forwards 2450ms;
          animation: tear_two 250ms linear forwards 2450ms; }

.ticket_11 {
  z-index: 1; }

.bar_scan {
  opacity: 0;
  -webkit-animation: scan 1s ease-in-out forwards 1.5s;
          animation: scan 1s ease-in-out forwards 1.5s;
  z-index: 2; }

@media screen and (min-width: 375px) {
  .intro_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 3.3em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1 {
    position: relative;
    margin: 0;
    margin-bottom: 2.5rem; }
    .form-group_1 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1 img {
      position: absolute;
      width: 10%;
      margin-top: -1.6rem;
      margin-left: 12.5rem; }
    .form-group_1 input {
      width: 15rem; }
  .form-group_2 {
    position: relative;
    margin: 0; 
    margin-bottom: 2.5rem;}
    .form-group_2 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_2 img {
      position: absolute;
      width: 7%;
      margin-top: -1.7rem;
      margin-left: 12.8rem; }
    .form-group_2 input {
      width: 15rem; }
  .log-in_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .log-in_wrap .log-in {
      border-radius: 50px;
      width: 65%;
      border: none;
      background-color: #2dd5cc; }
      .log-in_wrap .log-in h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.3em;
        color: #371443; }
  .no_account_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .no_account_wrap h4 {
      font-family: 'Muli', sans-serif;
      margin: 0;
      margin-right: 0.5rem;
      margin-top: 4rem;
      margin-bottom: 0.3rem; }
  .bottom_bar_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .bottom_bar_wrap .bottom_signup {
      width: 100%;
      position: absolute;
      bottom: 0; }
    .bottom_bar_wrap h3 {
      position: absolute;
      color: white;
      bottom: -0.5rem;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.75em; } }

@media screen and (min-width: 414px) {
  .intro_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 4em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1 {
    position: relative;
    margin: 0;
    margin-bottom: 3.5rem; }
    .form-group_1 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1 img {
      position: absolute;
      width: 10%;
      margin-top: -1.6rem;
      margin-left: 12.5rem; }
    .form-group_1 input {
      width: 15rem; }
  .form-group_2 {
    position: relative;
    margin: 0; 
    margin-bottom: 2.5rem;}
    .form-group_2 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_2 img {
      position: absolute;
      width: 7%;
      margin-top: -1.7rem;
      margin-left: 12.8rem; }
    .form-group_2 input {
      width: 15rem; }
  .log-in_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .log-in_wrap .log-in {
      border-radius: 50px;
      width: 65%;
      border: none;
      background-color: #2dd5cc; }
      .log-in_wrap .log-in h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.3em;
        color: #371443; }
  .no_account_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .no_account_wrap h4 {
      font-family: 'Muli', sans-serif;
      margin: 0;
      margin-right: 0.5rem;
      margin-top: 5rem;
      margin-bottom: 0.3rem; }
  .bottom_bar_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .bottom_bar_wrap .bottom_signup {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 41%;
      z-index: -1; }
    .bottom_bar_wrap h3 {
      position: absolute;
      color: white;
      bottom: -0.5rem;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 2em; } }

.intro_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .intro_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 3em;
    margin: 0;
    margin-top: 2rem;
    color: #371443; }

.form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.form-group_1_fb {
  position: relative;
  margin: 0;
  margin-bottom: 2.5rem; }
  .form-group_1_fb label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_1_fb img {
    position: absolute;
    width: 13%;
    margin-top: -1.6rem;
    margin-left: 9rem; }
  .form-group_1_fb input {
    background-color: #afb0be;
    outline: none;
    -webkit-transition: background-color 350ms ease 0s;
    transition: background-color 350ms ease 0s;
    color: white;
    width: 13rem; }
  .form-group_1_fb input:focus {
    background-color: #f8669f;
    color: white; }

.log-in_wrap_fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%; }
  .log-in_wrap_fb .log-in_fb {
    border-radius: 50px;
    width: 70%;
    height: 4rem;
    border: none;
    background-color: #3b5998; }
    .log-in_wrap_fb .log-in_fb h4 {
      margin: 0;
      margin: 0.7rem 0 0.7rem 0;
      font-family: 'Muli', sans-serif;
      color: white; }

.divide_line {
  margin-top: 10%; }
  .divide_line h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 1em;
    font-family: 'Muli', sans-serif; }
    .divide_line h2 span {
      background: #fff;
      padding: 0 10px; }

.no_account_wrap_fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .no_account_wrap_fb h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: -2rem; }

.bottom_bar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .bottom_bar_wrap .bottom_signup {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .bottom_bar_wrap h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.5em; }

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* NAV */

nav{
      width: 100%;
      height:100%;
      bottom:0;
      position: absolute;
      display:flex;
      font-family: 'Averia Sans Libre', cursive;
      justify-content: center;
      flex-direction:column;
      align-items: center;
      background-color:#F8F8FF ;
       background: #FE5893 ; /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(#FE5893 , #19DFD1 ); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(#FE5893 , #19DFD1 ); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#FE5893 , #19DFD1 ); /* For Firefox 3.6 to 15 */
       background: linear-gradient(#FE5893 , #19DFD1 ); /* Standard syntax (must be last) */
       height:100%;
    }

   .btn{
      width:12rem;
      padding:1rem;
      font-size:20px;
      height:5rem;

     text-align: center;
      border-radius:20px;
      /*border:2px solid white;*/
      background-color:rgba(255,255,255,0.64);
    }


.btn svg{
  width:2.5rem;
}
@keyframes tear_two {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, -20px) rotate(-15deg);
            transform: translate(20px, -20px) rotate(-15deg); } }

@keyframes scan {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0); }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0); } }

.ticket_22 {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: tear_two 250ms linear forwards 2450ms;
          animation: tear_two 250ms linear forwards 2450ms; }

.ticket_11 {
  z-index: 1; }

.bar_scan {
  opacity: 0;
  -webkit-animation: scan 1s ease-in-out forwards 1.5s;
          animation: scan 1s ease-in-out forwards 1.5s;
  z-index: 2; }

@media screen and (min-width: 375px) {
  .intro_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 3.3em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1_fb {
    position: relative;
    margin: 0;
    margin-bottom: 2.5rem; }
    .form-group_1_fb label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1_fb img {
      position: absolute;
      width: 10%;
      margin-top: -1.6rem;
      margin-left: 12.5rem; }
    .form-group_1_fb input {
      width: 15rem; }
  .log-in_wrap_fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12%; }
    .log-in_wrap_fb .log-in_fb {
      border-radius: 50px;
      width: 65%;
      height: 4rem;
      border: none;
      background-color: #3b5998; }
      .log-in_wrap_fb .log-in_fb h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        color: white; }
  .divide_line {
    margin-top: 11%; }
    .divide_line h2 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
      font-size: 1em;
      font-family: 'Muli', sans-serif; }
      .divide_line h2 span {
        background: #fff;
        padding: 0 10px; }
  .no_account_wrap_fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .no_account_wrap_fb h4 {
      font-family: 'Muli', sans-serif;
      margin: 0;
      margin-right: 0.5rem;
      margin-top: -1rem; }
  .bottom_bar_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .bottom_bar_wrap .bottom_signup {
      width: 100%;
      position: absolute;
      bottom: 0; }
    .bottom_bar_wrap h3 {
      position: absolute;
      color: white;
      bottom: -0.5rem;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.75em; } }

@media screen and (min-width: 414px) {
  .intro_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 4em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1_fb {
    position: relative;
    margin: 0;
    margin-bottom: 3.5rem; }
    .form-group_1_fb label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1_fb img {
      position: absolute;
      width: 10%;
      margin-top: -1.6rem;
      margin-left: 12.5rem; }
    .form-group_1_fb input {
      width: 18rem;
      height: 2rem; }
  .log-in_wrap_fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 14%; }
    .log-in_wrap_fb .log-in_fb {
      border-radius: 50px;
      width: 70%;
      height: 5rem;
      border: none;
      background-color: #3b5998; }
      .log-in_wrap_fb .log-in_fb h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.3em;
        color: white; }
  .divide_line {
    margin-top: 12%; }
    .divide_line h2 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
      font-size: 1em;
      font-family: 'Muli', sans-serif; }
      .divide_line h2 span {
        background: #fff;
        padding: 0 10px; }
  .no_account_wrap_fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .no_account_wrap_fb h4 {
      font-family: 'Muli', sans-serif;
      margin: 0;
      margin-right: 0.5rem;
      margin-top: -2.5rem; }
  .bottom_bar_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .bottom_bar_wrap .bottom_signup {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 41%;
      z-index: -1; }
    .bottom_bar_wrap h3 {
      position: absolute;
      color: white;
      bottom: -0.5rem;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 2em; } }

.cls-one {
  fill: #381345; }

.cls-two {
  fill: #fe5893; }

.cls-1_one {
  fill: url(#linear-gradient); }

.cls-2_two {
  fill: url(#linear-gradient-2); }

.cls-3_three {
  font-size: 32px;
  fill: #fff;
  font-family: AveriaSansLibre-Regular, Averia Sans Libre; }

.cls-4_four {
  letter-spacing: 0em; }

.cls-5_five {
  letter-spacing: -0.01em; }

.cls-one {
  fill: #381345; }

.cls-two {
  fill: #fe5893; }

.cls-1_one {
  fill: url(#linear-gradient); }

.cls-2_two {
  fill: url(#linear-gradient-2); }

.cls-3_three {
  font-size: 32px;
  fill: #fff;
  font-family: AveriaSansLibre-Regular, Averia Sans Libre; }

.cls-4_four {
  letter-spacing: 0em; }

.cls-5_five {
  letter-spacing: -0.01em; }

.cls-111, .cls-222, .cls-333 {
  fill-rule: evenodd; }

.cls-111 {
  fill: url(#linear-gradient); }

.cls-222 {
  fill: url(#linear-gradient-2); }

.cls-333 {
  fill: none;
  stroke: #fff;
  stroke-linecap: square;
  stroke-width: 2px; }

.cls-1_1 {
  fill: url(#linear-gradient); }

.cls-2_2, .cls-3_3, .cls-4_4 {
  fill-rule: evenodd; }

.cls-2_2 {
  fill: url(#linear-gradient-2); }

.cls-3_3 {
  fill: url(#linear-gradient-3); }

.cls-4_4 {
  fill: none;
  stroke: #fff;
  stroke-linecap: square;
  stroke-width: 2px; }

.nav {
  position: relative; }
  .nav .pull_down {
    width: 100%;
    margin-top: 0px;
    -webkit-transition: margin-top 400ms ease-out;
    transition: margin-top 400ms ease-out;
    z-index: 5; }
  .nav .pull_up {
    width: 100%;
    margin-top: -480px;
    -webkit-transition: margin-top 400ms ease-in;
    transition: margin-top 400ms ease-in;
    z-index: 5; }
  .nav .nav_contain {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 7%; }
    .nav .nav_contain div {
      background-color: rgba(227, 227, 234, 0.65);
      width: 14.25rem;
      border-radius: 15px;
      height: 5.8125rem;
      margin-top: 1.6rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      z-index: 10; }
      .nav .nav_contain div img {
        width: 55px;
        height: 55px;
        margin-top: 1.5rem; }
      .nav .nav_contain div h3 {
        font-family: 'Averia Sans Libre', cursive;
        font-size: 1.2em;
        color: #371443;
        margin-top: 0rem; }

@-webkit-keyframes pulldown {
  0% {
    margin-top: -480px; }
  100% {
    margin-top: 0px; } }

@keyframes pulldown {
  0% {
    margin-top: -480px; }
  100% {
    margin-top: 0px; } }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes flip {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@-webkit-keyframes pullup {
  0% {
    margin-top: 0px; }
  100% {
    margin-top: -480px; } }

@keyframes pullup {
  0% {
    margin-top: 0px; }
  100% {
    margin-top: -480px; } }

@-webkit-keyframes flip_up {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes flip_up {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.arrow_flip {
  -webkit-animation: flip_up 300ms forwards ease-in-out;
          animation: flip_up 300ms forwards ease-in-out; }

.toggle_nav {
  -webkit-animation: fade 50ms forwards ease-out 250ms;
          animation: fade 50ms forwards ease-out 250ms; }

.arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  margin-top: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: flip 300ms forwards ease-in-out;
          animation: flip 300ms forwards ease-in-out;
  z-index: 3; }

@media screen and (min-width: 375px) {
  .nav {
    position: relative; }
    .nav .pull_down {
      width: 100%;
      margin-top: 0px;
      -webkit-transition: margin-top 400ms ease-out;
      transition: margin-top 400ms ease-out;
      z-index: 5; }
    .nav .pull_up {
      width: 100%;
      margin-top: -566px;
      -webkit-transition: margin-top 400ms ease-in;
      transition: margin-top 400ms ease-in;
      z-index: 5; }
    .nav .nav_contain {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      margin-top: 7%; }
      .nav .nav_contain div {
        background-color: rgba(227, 227, 234, 0.65);
        width: 14.25rem;
        border-radius: 15px;
        height: 5.8125rem;
        margin-top: 1.6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 10; }
        .nav .nav_contain div img {
          width: 55px;
          height: 55px;
          margin-top: 1.5rem; }
        .nav .nav_contain div h3 {
          font-family: 'Averia Sans Libre', cursive;
          font-size: 1.2em;
          color: #371443;
          margin-top: 0rem; }
  @-webkit-keyframes pulldown {
    0% {
      margin-top: -480px; }
    100% {
      margin-top: 0px; } }
  @keyframes pulldown {
    0% {
      margin-top: -480px; }
    100% {
      margin-top: 0px; } }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }
  @-webkit-keyframes pullup {
    0% {
      margin-top: 0px; }
    100% {
      margin-top: -480px; } }
  @keyframes pullup {
    0% {
      margin-top: 0px; }
    100% {
      margin-top: -480px; } }
  @-webkit-keyframes flip_up {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  @keyframes flip_up {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  @-webkit-keyframes fade {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @keyframes fade {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  .arrow_flip {
    -webkit-animation: flip_up 300ms forwards ease-in-out;
            animation: flip_up 300ms forwards ease-in-out; }
  .toggle_nav {
    -webkit-animation: fade 50ms forwards ease-out 250ms;
            animation: fade 50ms forwards ease-out 250ms; }
  .arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: 5%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation: flip 300ms forwards ease-in-out;
            animation: flip 300ms forwards ease-in-out;
    z-index: 3; } }

@media screen and (min-width: 414px) {
  .nav {
    position: relative; }
    .nav .pull_down {
      width: 100%;
      margin-top: 0px;
      -webkit-transition: margin-top 400ms ease-out;
      transition: margin-top 400ms ease-out;
      z-index: 5; }
    .nav .pull_up {
      width: 100%;
      margin-top: -626px;
      -webkit-transition: margin-top 400ms ease-in;
      transition: margin-top 400ms ease-in;
      z-index: 5; }
    .nav .nav_contain {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      margin-top: 7%; }
      .nav .nav_contain div {
        background-color: rgba(227, 227, 234, 0.65);
        width: 14.25rem;
        border-radius: 15px;
        height: 5.8125rem;
        margin-top: 1.6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 10; }
        .nav .nav_contain div img {
          width: 55px;
          height: 55px;
          margin-top: 1.5rem; }
        .nav .nav_contain div h3 {
          font-family: 'Averia Sans Libre', cursive;
          font-size: 1.2em;
          color: #371443;
          margin-top: 0rem; }
  @-webkit-keyframes pulldown {
    0% {
      margin-top: -480px; }
    100% {
      margin-top: 0px; } }
  @keyframes pulldown {
    0% {
      margin-top: -480px; }
    100% {
      margin-top: 0px; } }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }
  @-webkit-keyframes pullup {
    0% {
      margin-top: 0px; }
    100% {
      margin-top: -480px; } }
  @keyframes pullup {
    0% {
      margin-top: 0px; }
    100% {
      margin-top: -480px; } }
  @-webkit-keyframes flip_up {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  @keyframes flip_up {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); } }
  @-webkit-keyframes fade {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @keyframes fade {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  .arrow_flip {
    -webkit-animation: flip_up 300ms forwards ease-in-out;
            animation: flip_up 300ms forwards ease-in-out; }
  .toggle_nav {
    -webkit-animation: fade 50ms forwards ease-out 250ms;
            animation: fade 50ms forwards ease-out 250ms; }
  .arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: 5%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation: flip 300ms forwards ease-in-out;
            animation: flip 300ms forwards ease-in-out;
    z-index: 3; } }

.nav img {
  width: 100%; }

.upcoming h2 {
  font-family: 'Averia Sans Libre', cursive;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 0;
  color: #371443; }

.my_journal{
    z-index: -1;
}
.my_journal h2 {
  margin-left: 10px;
  color: #371443;
  font-family: 'Averia Sans Libre', cursive; }

.my_journal div {
  position: relative; }
  .my_journal div .flex {
    width: 100%;
    height: 100px;
    background-color: #e2e2eb;
    margin-bottom: 2px;
    padding-right: 7.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .my_journal div .flex h6 {
      font-family: 'Muli', sans-serif;
      font-size: 0.8em;
      margin: 0;
      margin-bottom: 5px; }
  .my_journal div .legend {
    width: 98.5px;
    height: 98.5px;
    position: absolute;
    margin-top: -6.3rem;
    left: 69.5%; }

.upcoming{
    z-index: -1;
}

.upcoming_events {
  width: 100%;
  background-color: #ededf7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .upcoming_events h4 {
    font-family: 'Averia Sans Libre', cursive;
    color: #371443; }
  .upcoming_events img {
    width: 20%;
    margin-top: 0;
    margin-bottom: 15px; }

.plus_button {
width: 40%;
margin-top: 54%;
margin-left: 2px;
right: -1px;
/*z-index:-1;*/
    bottom: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  }

/*Journal Entry CSS*/

/*Journal Entry CSS*/
#gather{
	margin: 4rem;
	text-align: center;
}

#gather input.text-input{
	width: 100%;
	height: 4.2rem;
	border-radius: 28px;
	background-color: #EEEEF6;
	padding-left: 5.5rem;
	border: none;
}

#gather input{
	font-size: 1.8rem;
}

#event-input-container{padding-top: 1.8rem;}
.first-container{margin-bottom: 1.5rem;}
.second-container{margin-bottom: 1.5rem;}

#photo-input-container{
	text-align: center;
	background-color: #EEEEF6;
	margin-top:3rem;
	width: 100%;
	height: 30rem;
}

#photo-input-container input{
	width: 80%;
	height: 23rem;
	margin-top: 2rem;
	background-color: #4A4A4B;
}


#journal-input-container{margin-top:3rem;}

#journal-input-container textarea{
	background-color: #EEEEF6;
	width: 100%;
	height: 20rem;
	border-radius: 25px;
	border: none;
	
	padding-left: 5.5rem;
	font-size: 1.8rem;
}

#save-entry-container{
	text-align: center;
}

#save-entry-container img{
	width: 100%;
}

#save-entry-container button{
	border: none;
	background-color: Transparent;
}

.input-icons-container{
	position: absolute;
	text-align: left;
}

.input-icons-container img.icon{
	position: absolute;
	margin-left: 7%;
	margin-top: 4%;
}
.input-icons-container img.background-icon{
	width: 45%;
}

/*Entry Page*/
#title-container{
	text-align: center;
}

#entryName{margin-bottom: 2rem;}
#entryName p.entryTitle{
	font-family: 'Averia Sans Libre', cursive;
	color: #371343;
	font-size: 4.5rem;
	margin: 0;
}

#entryName p.entryOpener{
	font-family: 'Muli', sans-serif;
	font-size: 2.9rem;
	margin: 0;
}

#entryLocation{
	width: 50%;
	margin-left: 8rem;
}

#entryLocation p{
	font-family: 'Muli', sans-serif;
	text-align: left;
	font-size: 1.6rem;
	margin: 0 0px 8px 0;
}

#entryLocation p.entryVenueTitle{
	font-size: 2.5rem;
}

#entry-picture-container{
	text-align: center;
	margin: 0 4rem;
	background-color: #EEEEF6;
	height: 35rem;
	margin-top: 3rem;
}

#entry-picture-container img{
	width: 82%;
	height: 90%;
	padding: 2rem 0;
}

#journal-entry-container{
	font-family: 'Muli', sans-serif;
	margin: 2rem 1rem;
	font-size: 2.5rem;
}


#journal-entry-container span{
	font-size: 3rem;
}

p.container-titles{
	text-align: center;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 2.5rem;
	margin: 0;
}
#collected-songs-container{
	width: 100%;
}

#collected-songs-container .song-info-container{
	display: flex;
	position: absolute;
	width: 100%;
}

.song-info-container img{height: 9rem;}
.song-info-container p{
	font-family: 'Muli', sans-serif;
	font-size: 2rem;
}
.song-info-container p.songArtist{
	position: absolute;
	width: 100%;
	height: 70%;
	padding-left: 11rem;
	padding-top: 3rem;
}
.song-info-container p.songTitle{
	align-self: flex-start;
	padding-left: 2rem;
	margin-top: 2rem;
	font-size: 2.5rem;
}
.song-info-container p.songNumber{
	font-family: 'Averia Sans Libre', cursive;
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 2rem;
	padding-bottom: 1rem;
	font-size: 3rem;
}

.song-background img{
	width: 100%;
}

#badges-container{
	width: 100%;
	margin-top: 2rem;
}

#badges-flex-container{
	display: flex;
	width: 100%;
	justify-content: space-around;
}


#badges-flex-container img.img-pic{
	height: 5rem;
	z-index: -1;
}

#badges-flex-container img.img-badge{
	width: 20%;
	position: absolute;

}

/*
#gather{
	margin: 4rem;
	text-align: center;
}

#gather input.text-input{
	width: 100%;
	height: 7rem;
	border-radius: 28px;
	background-color: #EEEEF6;
	padding-left: 5.5rem;
	border: none;
    padding-left: 9rem;
    color: black;
}

#gather textarea{
    padding-top: 2rem;
}


#gather input{
	font-size: 2rem;
}

#event-input-container{padding-top: 1.8rem;}
.first-container{margin-bottom: 1.5rem;}
.second-container{margin-bottom: 1.5rem;}
.third-container{margin-bottom: 1.5rem;}

#photo-input-container{
	text-align: center;
	background-color: #EEEEF6;
	margin-top:3rem;
	width: 100%;
	height: 30rem;
}

#photo-input-container input{
	width: 80%;
	height: 23rem;
	margin-top: 2rem;
	background-color: #4A4A4B;
}


#journal-input-container{margin-top:3rem;}

#journal-input-container textarea{
	background-color: #EEEEF6;
	width: 100%;
	height: 20rem;
	border-radius: 25px;
	border: none;
	
	padding-left: 5.5rem;
	font-size: 1.8rem;
}

#save-entry-container{
    width: 100%;
	text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#save-entry-container img{
	width: 30rem;
}

#save-entry-container button{
	border: none;
	background-color: Transparent;
    
}

.input-icons-container{
	position: absolute;
	text-align: left;
}

.input-icons-container img.icon{
	position: absolute;
	margin-left: 10%;
	margin-top: 4%;
    height: 85%;
}
.input-icons-container img.background-icon{
	width: 75%;

}
*/


/*Entry Page*/
/*
#title-container{
	text-align: center;
}

#entryName{margin-bottom: 2rem;}
#entryName p.entryTitle{
	font-family: 'Averia Sans Libre', cursive;
	color: #371343;
	font-size: 4.5rem;
	margin: 0;
}

#entryName p.entryOpener{
	font-family: 'Muli', sans-serif;
	font-size: 2.9rem;
	margin: 0;
}

#entryLocation{
	width: 50%;
	margin-left: 8rem;
}

#entryLocation p{
	font-family: 'Muli', sans-serif;
	text-align: left;
	font-size: 1.6rem;
	margin: 0 0px 8px 0;
}

#entryLocation p.entryVenueTitle{
	font-size: 2.5rem;
}

#entry-picture-container{
	text-align: center;
	margin: 0 4rem;
	background-color: #EEEEF6;
	height: 35rem;
	margin-top: 3rem;
}

#entry-picture-container img{
	width: 82%;
	height: 90%;
	padding: 2rem 0;
}

#journal-entry-container{
	font-family: 'Muli', sans-serif;
	margin: 2rem 1rem;
	font-size: 2.5rem;
}


#journal-entry-container span{
	font-size: 3rem;
}

p.container-titles{
	text-align: center;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 2.5rem;
	margin: 0;
}
#collected-songs-container{
	width: 100%;
}

#collected-songs-container .song-info-container{
	display: flex;
	position: absolute;
	width: 100%;
}

.song-info-container img{height: 9rem;}
.song-info-container p{
	font-family: 'Muli', sans-serif;
	font-size: 2rem;
}
.song-info-container p.songArtist{
	position: absolute;
	width: 100%;
	height: 70%;
	padding-left: 11rem;
	padding-top: 3rem;
}
.song-info-container p.songTitle{
	align-self: flex-start;
	padding-left: 2rem;
	margin-top: 2rem;
	font-size: 2.5rem;
}
.song-info-container p.songNumber{
	font-family: 'Averia Sans Libre', cursive;
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 2rem;
	padding-bottom: 1rem;
	font-size: 3rem;
}

.song-background img{
	width: 100%;
}

#badges-container{
	width: 100%;
	margin-top: 2rem;
}

#badges-flex-container{
	display: flex;
	width: 100%;
	justify-content: space-around;
}


#badges-flex-container img.img-pic{
	height: 5rem;
	z-index: -1;
}

#badges-flex-container img.img-badge{
	width: 20%;
	position: absolute;

}
*/

/* Single Entry Page */

#text_wrap{
  font-family:'Muli';
  font-size:20px;
  font-weight:lighter;
  position: relative;
  top:8rem;
  width: 85%;
  justify-content: center;
  display:flex;
  color:#381345;
  margin: auto;
}
.song_title{
  position: relative;
  top:-1rem;
  padding:0rem 1rem;
}
.artist{
  left:-9.6rem;
  position: relative;
  top:1rem;
}
#collected_song img{
  width:80px;
  height:80px;
}
.song_info{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#collected_song{
  background-color:rgb(219, 219, 227);
  border:1px solid white;
  font-family:'Muli';
  display:flex;
  flex-direction:row;
  align-items: center;
}
#edit_wrap{
  position: relative;
  top:8rem;
  margin-left:2rem;
  margin-right:2rem;
  margin-top:2rem;
  margin-bottom:6rem;
  border-radius:40px;
  border:1px solid rgb(24, 226, 207);
  font-family:'Muli';
  font-style:italic;
  background:rgb(24, 226, 207);
  padding:0rem 2rem;
  font-size:18px;
  font-weight:bolder;
  display:flex;
  justify-content: center;
}
#collected_wrap{
  top:8rem;
  position: relative;
  background-color:rgb(219, 219, 227);
  color:#381345;
}

.headliner{
  font-family:'Averia Sans Libre';
  font-size:36px;
}

.opener{
  font-family:'Muli';
  font-size:20px;
  margin-top:-1.4rem;
}

.info_wrap{
  position: relative;
  top:3rem;
  width:50%;
  color:#381345;
  margin:auto;
  display:block;
  text-align: left;
}
.event{
  font-family:'Muli';
  font-weight:lighter;
  font-size:18px;
  margin-bottom:-1.3rem;
}


.location{
margin-bottom:-1.3rem;
font-family:'Muli';
font-weight:lighter;
font-size:16px;
}

.date{
font-family:'Muli';
font-weight:lighter;
font-size:16px;
}
#fixed_edit{
  width:100%;
  background-color:#381345;
  color:white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom:0;
  left:0;
  font-family:'Muli';
  font-size:18px;
  padding:0rem 0rem;
  align-items: center;
  height:30px;
  z-index: 9;
}

#polaroid_wrap{
  position: relative;
  top:4rem;
  margin:auto;
  text-align: center;
  background-color:rgb(219, 219, 227);
  width:90%;
  display: flex;
  justify-content: center;
  padding-top:1rem;
  padding-bottom:3rem;
  align-items: center;
  flex-direction: column;
  font-family:'Muli';
  font-size:18px;
  box-shadow:1px 1px 10px rgb(128, 128, 128);
  color:#381345;
}

#polaroid_wrap img{
  width:90%;
  display: block;
  margin:auto;
  text-align: center;
  height:auto;
  max-height:320px;
}

.collected{
  font-size:20px;
  font-family:'Averia Sans Libre';
  position:relative;
  text-align: center;
}


#badges_wrap{
  top:8rem;
  position: relative;
  background-color:rgb(223, 86, 152);
  color:#381345;
  padding:1rem 2rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#badges_wrap svg{
  width:30%;
  position: relative;
  /*top:8rem;*/
}
.badges{
  font-size:20px;
  font-family:'Averia Sans Libre';
  position:relative;
  text-align: center;
  top:8rem;
}

/*create an account edits */

.bottom_bar_wrap .bottom_signup {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.form-group_3 input {
    background-color: #afb0be ;
    outline: none;
    -webkit-transition: background-color 350ms ease 0s;
    transition: background-color 350ms ease 0s;
    color: white;
    width: 15rem;
}

.log-in_wrap .log-in {
    border-radius: 50px;
    width: 100%;
    border: none;
    background-color: #2dd5cc ;
}

.form-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
}

/*php hax */
.uneeded{
    display: none;
}

#concert_edit{
font-family:'Muli';
  font-size:18px;
}

#entry_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.concert_info{
    padding-bottom: 1rem;
    padding-left: 7rem;
    text-align: right;
}
